/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --color-accent:#970909;
  --color-background:#C7CBD0;
  --color-text:#000;
}

.header {
  width: 100%;
  height: 100px;
  margin-bottom: 135px;
}

.header__section {
  width: 100%;
  height: 960px;
  background: url(/img/background_img.png) lightgray 50%/cover no-repeat;
}

.header__cat_section {
  width: 100%;
  height: 600px;
  background-color: var(--color-background);
}

.header_bc {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  background: rgba(255, 255, 255, 0.32);
}

.header_bc__cat {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_div__logo {
  display: flex;
  width: 205px;
}

.header_div__logo_img {
  width: 105px;
  height: 40px;
  margin-top: 10px;
}

.header_div__logo_title {
  width: 90px;
  height: 55px;
}

.header_div__logo_title__text {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_div__logo_title__text_red {
  color: var(--color-accent);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_div__nav {
  width: 655px;
  height: 25px;
}

.header_div__nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_div__nav_ul__li {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
}

.header_div__nav_ul__li_1 {
  display: flex;
  width: 125px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
}

.header_div__nav_ul__li_2 {
  display: flex;
  width: 150px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
}

.header_div__nav_ul__li_3 {
  display: flex;
  width: 90px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
}

.header_div__nav_ul__li_text__red {
  color: var(--color-accent);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_div__nav_ul__li_text {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  width: 100%;
  height: 860px;
}

.hero__div {
  display: flex;
  justify-content: space-between;
}

.hero__div_text {
  width: 355px;
  height: 380px;
}

.hero__div_text__ul_li {
  width: 370px;
  height: 100px;
  padding: 10px;
  margin-bottom: 35px;
  background: rgba(212, 212, 212, 0.32);
}

.hero__div_text__ul_li__text {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__div_text__ul_li__svg {
  padding-left: 50px;
}

.hero__div_text__1 {
  width: 265px;
  height: 435px;
  padding: 10px;
  margin-top: 55px;
  background: rgba(212, 212, 212, 0.32);
}

.hero__div_text__text__1_span {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #bfc1c3;
  filter: blur(1px);
}

.why__us {
  width: 100%;
  height: 550px;
  padding-top: 20px;
  background-color: var(--color-background);
}

.why__us_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why__us_div__title {
  display: flex;
  width: 140px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.why__us_div__title_text {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 85px;
}

.why__us_div__brands {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.why__us_div__brands_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
}

.why__us_div__brands_ul__li {
  width: 250px;
  height: 200px;
}

.footer {
  width: 100%;
  height: 500px;
  margin: 0;
  padding-top: 150px;
  background-color: var(--color-background);
}

.footer__background {
  background-color: #b9bbbe;
}

.footer__div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 350px;
}

.footer__div_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
}

.footer__logo_img {
  width: 184px;
  height: 71px;
}

.footer__logo_text {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contacts__li {
  display: flex;
  width: 465px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.contacts__li_span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__text {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__li_social {
  display: flex;
  justify-content: end;
}

.contacts__li_img {
  display: flex;
  width: 110px;
  margin-left: 10px;
}

.footer__logo_text__red {
  color: #970909;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

.garmont {
  width: 100%;
  height: 800px;
  background-color: var(--color-background);
}

.garmont__div_title {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.garmont__div_title__h2 {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.garmont__div_shoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.garmont__div_shoes__ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.garmont__div_shoes__ul_li__title {
  display: flex;
  width: 557px;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.garmont__div_shoes__ul_li__text_title {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.garmont__div_shoes__ul_li {
  display: flex;
  width: 580px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.garmont__div_shoes__ul_li__text {
  width: 558px;
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.garmont__div_shoes__img {
  margin-top: 55px;
}

.popular__models {
  width: 100%;
  height: 700px;
  background-color: var(--color-background);
}

.popular__models_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popular__models_title {
  display: flex;
  justify-content: center;
  margin-bottom: 115px;
}

.popular__models_title__text {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popular__models_ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.cart__li {
  width: 300px;
  height: 350px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.cart {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cart__li:hover {
  transform: translateY(-10px);
}

.cart__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.cart__sell {
  display: flex;
  width: 65px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart__div {
  display: flex;
  width: 260px;
  height: 25px;
  align-items: center;
  justify-content: space-between;
}

.delivery {
  width: 100%;
  height: 800px;
  background-color: var(--color-background);
}

.delivery__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery__title {
  width: 510px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.delivery__title_h2 {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delivery__title_text {
  color: var(--color-text);
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment {
  width: 100%;
  height: 700px;
  background-color: var(--color-background);
}

.payment__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment__title_h2 {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__title_h3 {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment__title_text {
  width: 500px;
  height: 95px;
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}

.reviews {
  width: 100%;
  height: 800px;
  background-color: var(--color-background);
}

.reviews__div {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
}

.reviews__form {
  width: 400px;
  height: 500px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 32px;
  padding-right: 32px;
}

.form__title_h2 {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.form__name {
  width: 280px;
  height: 55px;
  margin-bottom: 20px;
}

.form__name_span {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.form__name_input {
  width: 276px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.05);
  margin-left: 5px;
}

.form__contact {
  width: 335px;
  height: 50px;
  margin-bottom: 20px;
}

.form__contact_ul {
  display: flex;
  justify-content: space-between;
}

.form__contact_span {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.form__contact_input {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.05);
  margin-left: 5px;
}

.form__feedback {
  width: 335px;
  height: 125px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__feedback_span {
  color: var(--color-text);
  text-align: start;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.form__feedback_input {
  width: 330px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}

.form__button {
  display: flex;
  justify-content: end;
}

.form__btn {
  width: 125px;
  height: 23px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form__btn_text {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comment {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
}

.comment__img {
  margin-bottom: 15px;
}

.comment__img_span {
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.comment__img_text {
  width: 265px;
  color: var(--color-text);
  text-align: center;
  font-family: "Bruno Ace SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.hero__cat {
  width: 100%;
}

.hero__cat_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__mount_cat {
  width: 300px;
  height: 365px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero__cat_slider {
  display: flex;
  width: 900px;
  height: 365px;
  flex-direction: column;
  justify-content: space-between;
}

.hero__cat_slider__li_1 {
  display: flex;
  width: 900px;
  height: 300px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: url(/img/search_img_1.png) lightgray 50%/cover no-repeat;
}

.hero__cat_slider__li_2 {
  display: none;
  width: 900px;
  height: 300px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.hero__cat_slider__li_3 {
  display: none;
  width: 900px;
  height: 300px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.hero__cat_slider_img__text {
  width: 850px;
  height: 40px;
  color: #FFF;
  text-align: start;
  font-family: "Bruno Ace SC";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__cat_slider_img__svg {
  margin-bottom: 10px;
}

.hero__cat_search {
  width: 900px;
  height: 50px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero__mount_cat__span {
  color: #000;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.hero__mount_cat__ul {
  margin-left: 20px;
}

.hero__mount_cat__box {
  margin-bottom: 5px;
}

.hero__mount_cat__box_title {
  display: flex;
  color: #000;
  font-family: "Bruno Ace SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

.hero__mount_cat__box_title__svg {
  margin-left: 5px;
}

.hero__mount_cat__box_text {
  color: #818181;
  font-family: "Bruno Ace SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */